.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  min-height: 100vh;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 1;
  gap: 20px;
  width: 60%;

  @media (max-width: 910px) {
    width: 80%;
  }

  @media (max-width: 475px) {
    width: 85%;
  }
}

.h1 {
  width: 7.5em;
  animation: typing 2s steps(14), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2.5em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

/* .letter {
  display: inline-block;
  animation: neon 2.5s ease-in-out forwards;
} */ 

/* @keyframes neon {
  0%, 100% {
    color: #fff;
    text-shadow: 0 0 2px #dfcdc3, 0 0 6px #dfcdc3, 0 0 8px #dfcdc3, 0 0 10px #dfcdc3, 0 0 12px #dfcdc3, 0 0 15px #dfcdc3;
  }
} */

@media screen and (prefers-reduced-motion) { 
  .h1 .letter {
    animation: none;
  }
}