.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  min-height: 100vh;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 1;
  gap: 20px;
  width: 60%;

  @media (max-width: 910px) {
    width: 80%;
  }

  @media (max-width: 475px) {
    width: 85%;
  }
}

.h1 {
  width: 9em;
  animation: typing 2s steps(14), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-size: 3em;
  letter-spacing: 0.25ch;
}

@keyframes typing {
  from {
    width: 0
  }
}

@media screen and (prefers-reduced-motion) { 
  .h1 {
    animation: none;
    border-right: none;
  }
}

.resumeButton {
  background: none;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  color: #dfcdc3;
}

.resumeButton:hover {
  border-color: #dfcdc3;
}