.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin-bottom: 200px;
  flex-direction: column;
  background-color: #300d31;
  padding: 50px 20px;
}

.projectsContainer {
  display: flex;
}

.project {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 200px;
  width: auto;
}