.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  width: 80%;
  min-height: 100vh;
  margin-bottom: 100px;
}

.header {
  display: flex;
  justify-content: flex-start;
  width: 20%;
  font-size: larger;
}

.projectsContainer {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  margin-left: 100px;
}

.project {
  display: flex;
  gap: 50px;
  background-color: #283441;
  padding: 20px;
  border-radius: 5px;
  width: 75%;
}

@media (max-width: 768px) {
  .project {
    flex-direction: column;
    gap: 20px;
  }
}

.projectDetails {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
}

.image {
  width: 300px;
  border-radius: 5px;
}