.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  margin-bottom: 200px;
  background-color: #0d3115;
  padding: 50px 20px;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  flex: auto;
  width: 100%;
}

.skillsRow {
  display: flex;
  width: 100%;
}

.skill {
  border: solid 1px #dfcdc3;
  background-color: #28344177;
  padding: 20px 15px;
  margin: 15px;
  width: 25%;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .skill {
    font-size: 14px;
    padding: 10px;
    width: 90%;
  }

  .skillsRow {
    flex-direction: column;
    justify-content: center;
  }

  .skillsContainer {
    flex-direction: row;
    justify-content: center;
  }
}

.skill:hover {
  background-color: #283441;
}