.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 2;
  width: 80%;
  min-height: 100vh;
  margin-bottom: 100px;
}

.header {
  display: flex;
  justify-content: flex-start;
  width: 20%;
  font-size: larger;
}

.skillsContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.skillsRow {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill {
  border: solid 1px #dfcdc3;
  border-radius: 3px;
  background-color: #28344177;
  padding: 30px 20px;
  margin: 20px;
  width: 200px;
  text-align: center;
  cursor: pointer;
}

.skill:hover {
  background-color: #283441;
}